.carta {
    position: relative;
    width: 150px;
    left:  100px;
    margin-left: -75px;
}
#computadora-carta, #jugador-carta {
    height: 240px;
}
span {
    color: rgb(137, 185, 137);
    font-size: 15px;
}